@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
    font-family: Roboto Mono, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #CAC0B3;
    margin: 0;
    padding: 20px;
    box-sizing: border-box; /* Para incluir padding y border en el ancho/alto */
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 900px;
    width: 100%;
}

h1 {
    color: rgba(105, 28, 50); 
    margin-bottom: 30px;
}

.converter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 2 columnas en pantallas grandes */
    gap: 20px;
    justify-content: center;
}

.converter-card {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.converter-card h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.input-field,
.select-field {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.convert-button {
    background-color: #66bb6a; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.convert-button:hover {
    background-color: #5cb85c;
}

.result-display {
    background-color: #e0f7fa; 
    padding: 10px;
    border-radius: 5px;
    min-height: 20px; /* Para que siempre tenga un poco de altura */
    width: calc(100% - 20px);
    text-align: center;
    font-weight: bold;
    color: #00796b;
    margin-top: 10px;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .converter-grid {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
}
.container1 {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 900px;
    width: 100%;
}



.subtitulo{
    color: black; 
    margin-bottom: 30px; 
    font-family: 'Roboto Mono', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: left; 
}
